body {
    /* scroll-behavior: smooth;
    margin: -1px 20px; */
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

/* * {
    border: 2px solid red;
} */

button {
    cursor: pointer;
}

.navbar {
    margin-left: 550px;
    padding-top: 50px;
}

a {
    color: white;
    text-decoration: none;
    padding-left: 85px;
}

.section1 {
    background-image: url(../images/moving\ 1.png);
    background-size: cover;
    width: 90%;
    height: 100vh;
    margin-left: 85px;

}

.buttonv1 {
    margin-left: 30px;
}

.btn1 {
    background-color: yellow;
}

.btn2 {
    background-color: black;
    color: white;
}

.yellowtext {
    color: yellow;
    font-size: xx-large;
    padding-top: 90px;
    margin-left: 20px;
    padding-left: 35px;
    font-stretch: expanded
}

.whitetext {
    color: white;
    padding-left: 35px;
    margin-left: 20px;
    font-size: large;
}

.img1 {
    width: 310px;
    padding-left: 85px;
    margin-top: -165px;
}

.h3righttext {
    padding-left: 500px;
    padding-top: 39px;
}

.righttext {
    padding-left: 500px;
    padding-top: 39px;
    padding-bottom: -30px;
}

.buttonv2 {
    width: 120px;
    height: 37px;
    margin-left: 500px;
    color: yellow;
    border-radius: 0 11px 0 0;
}

.topmoversimg {
    width: 190px;
}

.iconplace {
    width: 95px;
    height: 34px;
    display: inline-block;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: -9.5px;
    border-bottom-style: none;
    border: 0.5px solid rgba(153, 151, 151, 0.267);
}

.mvs {
    margin-top: 11px;
    margin-bottom: 10px;
    margin-left: 22px;
}

.cards {
    background: #ffffff;
    box-shadow: 12px 12px 24px #bebebe,
        -12px -12px 24px #ffffff;
    width: 40px;
}

.righttext {
    padding-top: 60px;
    margin-left: 410px;
    padding-left: 200px;
}

.leftimg {
    width: 430px;
    margin-top: -195px;
    padding-left: 80px;
    padding-bottom: 30px;
}

.buttonv2 {
    margin-left: 0px;
    color: white;
    background-color: black;
}

.cardimages {
    margin-left: 300px;
    margin-bottom: 22px;
    border-radius: 15px;

}
.cards {

    width: 300px;
    height: 320px;
    display: inline-block;
    margin-left: 30px;
    border-radius: 11px;
}

.topmoverspics {
    width: 300px;

}

.footer {
    width: 100%;
    height: 370px;
    color: white;
    background: rgb(0,0,0);
background: linear-gradient(20deg, rgba(0,0,0,1) 35%, rgba(55,41,4,1) 100%);
}