body{
    font-family: 'poppins', sans-serif;
    background-color: #ffffff;
}
/**{
    border:2px solid red;
} */

button{
    cursor: pointer;
}
.navbar {
    margin:0
    float: right;
    display: inline-block;
    font-size: 20px;
    list-style-type: none;

}
.navigation li{
    display: inline-block;
    font-size: 20px;
    padding: 2px;
    float: left;
    padding-right: 5px;
    margin-right:px;
}
.navigation{
    background-image: url(../images/moving\ 1.png);
    background-size: cover;
    width: 90%;
    height: 100vh;
    margin-left: 85px;
}
